@import url('https://fonts.googleapis.com/css2?family=Nunito');

*{
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
    font-family: Nunito, sans-serif;
    background-color:  #00AAFF;
    margin: 0;
    padding: 0;
    color: #333333;
}
#WhiteBody{
    background-color:  white;
}

/* 
!Header 
*/
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}
.header{
    width: 100%;
    padding: 0% 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
header .vector{
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;

    z-index: -1;
}
.header .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo img{
    width: 200px;
}
.logo-svg{
    display: block;
}
.logo-text{
    font-weight: bold;
    font-size: 21px;
    color: #333333;
}

.links{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    font-size: 15px;

}
.links a:hover{
    color:  #00AAFF;
}

.links li a{
    text-decoration: none;
    color: #333333;
}

.links>li{
    margin-left: 50px;
}
.burger{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#open{
    display: none;
}
#close{
    display: none;
}
#close i{
    color: white;
}
.burger i{
    color: #333333;
    position: relative;
    z-index: 3;
    font-size: 30px;
}


#mobile-header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform: translateY(-120%);
    transition: ease-in 0.3s;
}
#mobile-header .logo{
    margin-bottom: 30px;
    width: 250px;
}
.mobile-wrapper ul{
    display: contents;
    list-style: none;
    text-align: center;
}
.mobile-wrapper li{
    padding: 25px 0;
}
.mobile-wrapper a{
    color: white;
    text-decoration: none;
}


/*
!Landing
*/

.Landing{
    margin-top: 5%;
}
.Landing .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.landing-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-wrapper .text{
    margin: 0 10%;
}

.landing-text h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;

    color: #333333;
}

.landing-text p{    
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    
    color: #333333;
}

.Landing .Botones{
    margin-top: 5%;
    text-align: center;
}

.landing-text .button1{
    font-weight: 600;  
    color:  #00AAFF;

    width: 200px;
    height: 65px;
    padding: 3% 7%;

    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #00A3FF;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}

.landing-text .button2{

    font-weight: 600;
    color: white;

    width: 200px;
    height: 65px;
    padding: 3% 7%;
    
    text-decoration: none;
    outline: none;
    border: none;
    border: 1px solid #00A3FF;
    background-color:  #00AAFF;
    border-radius: 50px;
    cursor: pointer;
}

.button1:hover{
    animation: onHover2 ease-in 0.3s forwards;
}

.button2:hover{
    animation: onHover ease-in 0.3s forwards;
}
.Landing .svg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Landing .svg .img{
    animation: zoom ease-in 1s infinite alternate;

    width: 60%;
    height: auto;
}

.Landing .svg-mobile{
    animation: zoom ease-in 1s infinite alternate;
    display: none;
}


/*
!Cards
*/

.Cards{
    margin-top: 20%;
    width: 100%;
    background-color: white;
}
.card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card-center{
    display: flex;
    justify-content: center;
}
.Card{
    overflow: hidden;
    width: 432px;
    height: 615px;
    
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background: #FFFFFF;
    box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.25);
}
.Card .card-logo{
    margin: 18% 0;
    display: flex;
    justify-content: center;
}
.Card .wave{
    position: relative;
    z-index: 1;
    width: 120%;
    top: -50px;
}
.card-body{
    position: relative;
    top: -370px;
    z-index: 2;
}
.card-body h2{
    color: white;
    font-weight: bold;
    font-size: 36px;
}
.card-body p{
    color: white;
    margin: 0 5%;
    font-size: 18px;
}
.card-bottom{
    position: relative;
    top: -380px;
    z-index: 2;
}
.card-bottom h2{
    color: white;
    font-weight: 300;
    font-size: 36px;
}
.card-bottom a{
    margin-top: -30px;
    text-decoration: none;
    background-color: white;
    padding: 20px 45px;
    border-radius: 50px;
    border: 1px solid white;
    color: #00AAFF;
}
.card-bottom a:hover{
    animation: onHover ease-in 0.3s forwards;
}
.card-bottom .button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-list{
    display: contents;
    list-style: none;
}
.info-list{
    margin-top: -20px;
    margin-bottom: 20px;
}


/*
!Purchase-logo
*/
.Form-Logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Form-Logo .input-wrapper .atencion-info{
    margin: 0 20%;
    text-align: left;
}
.Form-Logo .purchase-wrapper{
    width: 1000px;
    background-color: white;
    box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.25);
    margin: 5% 5%;
    padding: 2% 0;
    text-align: center;
}
.Form-Logo .input-wrapper{
    width: 600px;
    margin: 0 auto;
}
.Form-Logo .personal-info{
    width: 100%;
}
.Form-Logo .logo{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Form-Logo .logo img{
    width: 150px;
}
.Form-Logo input{
    font-family: Nunito, sans-serif;
    outline: black;
    padding-left: 10px;
    width: 90%;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    background-color: white;
}
.Form-Logo .submit{
    width: 90%;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 50px;
    padding-left: 5% 10%;
    background-color: #00AAFF;
}
.Form-Logo textarea{
    font-family: Nunito, sans-serif;
    resize: none;
    outline: none;
    padding-left: 15px;
    margin: 0;
    columns: 20;
    width: 90%;
    height: 100px;
    margin-bottom: 5%;
    border: 1px solid #cccccc;
    border-radius: 20px;
    background-color: white;
}
.Form-Logo .logo-table{
    text-align: center;
}
.Form-Logo .table-logo{
    margin: 0 2%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.table-logo input{
    margin: 0 auto;
    width: 25px;
}
.Form-Logo .table-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
!Contacto
*/
.Form-Contacto{

    display: flex;
    justify-content: center;
    align-items: center;
}

.Form-Contacto .form-wrapper{
    width: 450px;
    margin: 5% 0;
    background-color: white;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.25);
}

.Form-Contacto .form-wrapper form{
    margin: 10% 5%;
}
.Form-Contacto .form-logo{
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Form-Contacto .form-logo .logo{
    width: 20%;
}
.Form-Contacto .input-wrapper p{
    text-align: left;
    color: #333333;
    margin-left: 15px;
    line-height: 1px;
    font-size: 15px;
}
.Form-Contacto .input-wrapper{
    margin: 0 5%;
    text-align: center;
    color: #333333;
}
.Form-Contacto input{
    font-family: Nunito, sans-serif;
    outline: none;
    padding-left: 5%;
    width: 100%;
    height: 40px;
    margin-bottom: 5%;
    border: 1px solid #cccccc;
    border-radius: 50px;
    background-color: white;
}
.Form-Contacto textarea{
    font-family: Nunito, sans-serif;
    resize: none;
    outline: none;
    padding-left: 15px;
    margin: 0;
    columns: 20;
    width: 100%;
    height: 100px;
    margin-bottom: 5%;
    border: 1px solid #cccccc;
    border-radius: 20px;
    background-color: white;
}
.Form-Contacto .input-wrapper input::placeholder{
    font-family: nunito, sans-serif;
    color: #999999;
}
.Form-Contacto .input-wrapper textarea::placeholder{
    font-family: nunito, sans-serif;
    color: #999999;
}
.Form-Contacto .input-wrapper .submit{
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 50px;
    padding-left: 5% 10%;
    background-color: #00AAFF;
}
.Form-Contacto .input-wrapper .submit:hover{
    animation: onHover ease-in 0.3s forwards;
}


/*
!Información
*/
.Informacion{
    margin: 2% 0;
    padding: 5% 0;
    background-color: white;
}
.info-wrapper{
    display: grid;
    grid-template-columns: 20% 1fr;
}
.text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.info-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-logo img{
    width: 50%;
}


/*
!Success
*/


.success{
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-wrapper{
    background-color: white;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.25);
    margin: 5% 2%;
    width: 600px;
    text-align: center;
}
.success .success-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-logo .logo{
    width: 20%;
}
.success p{
    margin: 0 10%;
}
.success .volver-button{
    text-decoration: none;

    cursor: pointer;
    outline: none;
    border: none;
    margin: 2% 0;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    background-color: #00AAFF;
    border: 1px solid #00AAFF;
}
.success .volver-button:hover{
    animation: onHover ease-in 0.3s forwards;
}
.success .button{
    margin: 30px 0;
}


/*
!Planes
*/


.Planes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.planes-wrapper{
    margin: 5% 2%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.25);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;
}
.Plan-Center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.plan{
    margin: 5%;
    width: 400px;
    background-color: white;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.25);
}
.plan-logo{
    margin: 2% 0;
    font-size: 100px;
}
.plan ul{
    text-align: left;
    display: contents;
    list-style-type: none;
}
.plan-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan-body .fa-check{
    color: #8cffa7;
}
.plan-body .fa-times{
    color: grey;
}
.plan .button{
    margin: 25px 0;
}
.plan .button a{
    text-decoration: none;
    background-color: #00AAFF;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
}
.plan-info{
    margin: 0 20%;
}
.plan-info h1{
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}
.plan-info h2{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}
.informacion p{
    margin: 2% 20%;
}
.informacion{
    margin: 0 7%;
    text-align: left;
}


/*
!Galeria
*/
.info-galeria{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-galeria-wrapper{
    margin: 3% 2%;
    padding: 2% 0;
}
.info-galeria-wrapper p{
    margin: 0 20%;
}

.Galeria{
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
    background-color: white;
}
.galeria-wrapper img{
    overflow: hidden;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.25);
    border-radius: 25px;
    width: 400px;
    height: 400px;
    margin: 5% 0;
    padding: 5%;
}
.galeria-wrapper .desc{
    opacity: 0;
    position: absolute;
    color: white;
    border-radius: 25px;
    background-color:  rgba(0,0,0,0.5);
}
.galeria-wrapper .desc:hover{
    animation: opacityDesc ease-in 0.3s forwards;
}
.galeria-wrapper .desc .desc-center{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria-wrapper .col{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
!Footer
*/

footer{
    position: relative;
    width: 100%;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px -10px 25px 0px rgba(0,0,0,0.25);
}
footer .links-footer{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.links-footer a{
    text-decoration: none;
    color: #333333;
}
.links-footer a:hover{
    color: #00AAFF;
}
.links-footer>li{
    margin: 0 20px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 80%;
}
.sub-logo{
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-top: -10%;
    text-align: center;
}
.copyright{
    line-height: 10px;
    text-align: center;
    font-size: 15px;
    color: #333333;
}
/*
!Keyframes
*/
@keyframes despliegue{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.04);
    }
}

@keyframes onHover{
    0%{

    }
    100%{
        background-color: #333333;
        border: 1px solid #333333;
    }
}

@keyframes onHover2{
    0%{

    }
    100%{
        border: 1px solid #333333;
        color: #333333;
    }
}

@keyframes opacityDesc{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*
!Mobile
*/
@media screen and (max-width: 1300px){

    .button1{
        border: 1px solid white !important;
        background-color: white !important;
        color: #00AAFF;
    }
    
    .button2{
        border: 2px solid white !important;
    }

    .button1:hover{
        animation: none;
    }

    .button2:hover{
        animation: none;
    }

    .Landing .wrapper{
        grid-auto-flow: dense;
        grid-template-columns: 1fr;
    }

    .landing-text{
        margin: 0 5%;
        text-align: center;
    }
    .landing-text p{
        color: white;
    }
    .landing-text h1{
        color: white;
    }


    .Landing .svg{
        display: none;
    }

    .Landing .svg-mobile{
        text-align: center;
        display: block;
    }

    .svg-mobile img{
        margin-top: 10%;
        width: 60%;
    }
    .card-wrapper{
        grid-template-columns: 1fr;
    }
    .planes-wrapper{
        grid-template-columns: 1fr;
    }
    footer p{
        color: #333333;
    }
    .galeria-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 850px){
    .galeria-wrapper{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 800px){
    .info-wrapper{
        grid-template-columns: 1fr;
    }
    .info-text{
        margin: 0 5%;
    }
    .header{
        justify-content: space-between;
    }
    .links{
        display: none;
    }
    .burger{
        display: block;
    }
    #open{
        display: block;
    }
    .Form-Logo .input-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    .Form-Logo .input-wrapper .atencion-info{
        margin: 0 10%;
        text-align: left;
    }
}

@media screen and (max-width: 736px){
    .Form-Logo .input-wrapper{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px){
    .Card{
        width: 300px;
        height: 459px;
    }
    .Card .card-logo{
        margin: 15% 0;
    }
    .Card .wave{
        width: 120%;
        margin-top: 13px;
    }
    .card-body{
        top: -255px;
    }
    .card-bottom{
        top: -250px;
    }
    .card-bottom a{
        padding: 15px 30px;
        margin-top: -20px;
    }
    .card-body h2{
        font-size: 30px;
        margin: 0;
    }
    .card-body p{
        font-size: 15px;
    }
    .Card .card-logo .logo{
        width: 80%;

    }
    .Form .form-wrapper{
        width: 300px;
        height: 450px;
    }
    .info-list{
        margin-top: 0;
    }
    .card-bottom{
        margin-top: -25px;
        margin-left: 2%;
        margin-right: 2%;
    }
    .card-bottom h2{
        font-size: 25px;
    }
    .plan{
        width: 350px;
    }
    .galeria-wrapper img{
        width: 300px;
        height: 300px;
    }
    .galeria-wrapper .desc .desc-center{
        width: 300px;
        height: 300px;
    }
}
